{% extends "base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid" id="main">
        <form method="POST" id="post-form">
            {% csrf_token %}
            <div class="row justify-content-center">
                <select class="selectpicker form-control" data-width="45%" data-live-search="true" id="crime" name="crime" title="Преступление">
                {% for type,crimes in type_to_crimes.items %}
                <optgroup label="{{ type }}">
                  {% for crime in crimes %}
                      <option value={{ crime.id }}>{{ crime.rus_name|capfirst }}</option>
                  {% endfor %}
                </optgroup>
                {% endfor %}
                </select>
                <select class="selectpicker form-control" data-width="45%" data-live-search="true" id="country" multiple name="country" title="Страны">
                    {% for country in countries %}
                        <option parent="{{ country.crimes__crime_doc_id}}" value="{{ country.id }}">{{ country.rus_name }}</option>
                    {% endfor %}
                </select>
                <script>
                    var $select1 = $( '#crime' ),
                        $select2 = $( '#country' ),
                        $options = $select2.find( 'option' );
                    $select1.on( 'change', function() {
                        $select2.html( $options.filter( '[parent="' + this.value + '"]' ) );
                        $select2.selectpicker('refresh');
                        $select2.selectpicker('deselectAll');
                    } ).trigger( 'change' );
                </script>
            </div>
            <div class="mt-3" id="but">
                <div class="row justify-content-center">
                    <input class="btn btn-secondary" type="submit" value="Построить">
                </div>
            </div>
        </form>
    <script>
        $( 'nav.navbar #nav4' ).addClass('active')
    </script>
        <script type="text/javascript">
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $("#but").append("<div class=\"text-center mt-3\" id='spinner'>\n" +
            "  <div class=\"spinner-border\" role=\"status\">\n" +
            "    <span class=\"sr-only\">Loading...</span>\n" +
            "  </div>\n" +
            "</div>")
    $.ajax({
        type:'POST',
        url:'{% url "crime:csplot" %}',
        data:{
            country:$('#country').val(),
            crime:$('#crime').val()
        },
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success:function(json){
            $("#line").remove();
            $("#spinner").remove()
            $("#main").append(json.new_string);
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
    </script>
    </div>
  </div>
{% endblock %}