{% extends "base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
                <select class="selectpicker form-control" data-width="45%" data-live-search="true" id="crime" name="crime" title="Преступление">
                {% for type,crimes in type_to_crimes.items %}
                <optgroup label="{{ type }}">
                  {% for crime in crimes %}
                      <option value={{ crime.id }}>{{ crime.rus_name|capfirst }}</option>
                  {% endfor %}
                </optgroup>
                {% endfor %}
                </select>
                <select class="selectpicker form-control" data-width="45%" data-live-search="true" id="country" multiple name="country" title="Страны">
                    {% for country in countries %}
                        <option parent="{{ country.crimes__crime_doc_id}}" value="{{ country.id }}">{{ country.rus_name }}</option>
                    {% endfor %}
                </select>
                <script>
                    var $select1 = $( '#crime' ),
                        $select2 = $( '#country' ),
                        $options = $select2.find( 'option' );
                    $select1.on( 'change', function() {
                        $select2.html( $options.filter( '[parent="' + this.value + '"]' ) );
                        $select2.selectpicker('refresh');
                        $select2.selectpicker('deselectAll');
                    } ).trigger( 'change' );
                </script>
            </div>
            <div class="mt-3">
                <div class="row justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Построить">
                </div>
            </div>
        </form>
    <script>
        $( 'nav.navbar #nav4' ).addClass('active')
    </script>
    </div>
  </div>
{% endblock %}