<div id="influence" >
    <div class="row justify-content-center">
        {{ fig|safe }}
    </div>
    <div class="ml-5 mt-5 mr-5">
    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Название индикатора</th>
                            <th scope="col">Показатель</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in  data %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.name }}</td>
                                <td>{{ item.value|floatformat:7 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
    </div>
</div>